{% macro render_event(post, from_index=false) %}
  <div class="event">
  {% if from_index %}
    {% set image = post.attachments.images.first() %}
    <div class="event-info">
      <h3><a href="{{ post|url }}">{{ post.event_date|dateformat('M/d/YYYY') }} - {{ post.title }}</a></h3>
    </div>
    {% if image %}
      <a href="{{ post|url }}"><img src="{{ image.thumbnail(320, 200, 'crop')|url }}" alt="Header image for {{ post.title }}"></a><br />
    {% endif %}
  </div>

  {% else %}

  <h1>{{ post.title }}</h1>
  {% set images = post.attachments.images %}

  {% if images %}
  <div>
    {% for image in images %}
      <div>
        <img src="{{ image.thumbnail(400, 400)|url }}" alt="Photo of {{ post.title }}">
      </div>
     {% endfor %}
  </div>
  {% endif %}

  <div class="meta">
    <div class="date">
      <i class="fas fa-calendar-day"></i>
      {{ post.event_date|datetimeformat('EEE, MMM d, h a') }}
    </div>
    <div class="location">
      <i class="fas fa-map-marker-alt"></i>
      <div class="text">
        {{ post.location }}
        <br />
        <a href="https://www.google.com/maps/dir/?api=1&destination={{ post.address }}" target="_blank">{{ post.address }}</a>
      </div>
    </div>
    <div class="info">
      <i class="fas fa-receipt"></i>
      {% if post.price %}
      <span>{{ post.price }}</span>
      {% endif %}
      {% if post.price and post.age_restriction %}
      -
      {% endif %}
      {% if post.age_restriction %}
      <span>{{ post.age_restriction }}</span>
      {% endif %}
    </div>
    <button type="button"><a  href="{{ post.facebook_event }}" target="_blank">RSVP on Facebook</a></button>
  </div>

  {{ post.body }}

  {% if post.soundcloud %}
    <h2>SoundCloud</h2>
    <div class="soundcloud">
      <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="{{ post.soundcloud }}"></iframe>
    </div>
  {% endif %}

  {% if post.flickr %}
    <h2>Photos</h2>
    {{ post.flickr }}
  {% endif %}
  </div>
{% endif %}
{% endmacro %}
