{% extends "layout.html" %}
{% from "macros/event.html" import render_event %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}Events{% endblock %}
{% block body %}
<h1>Events</h1>
  <h2>Upcoming Events</h2>

  <div class="events">
    <ul>
    {% for child in this.children %}
      {% if compare_dates(child.event_date, current_date()) %}
        <li>{{ render_event(child, from_index=true) }}</li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>

  <h2>Past Events</h2>

  <div class="events">
    <ul>
    {% for child in this.children %}
      {% if compare_dates(current_date(), child.event_date) %}
        <li>{{ render_event(child, from_index=true) }}</li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>

{% endblock %}
