{% extends "layout.html" %}
{% from "macros/event.html" import render_event %}
{% block title %}Welcome!{% endblock %}

{% block body %}

<h1>{{ this.title }}</h1>
{{ this.body }}

{% set children = site.query('/events').include_hidden(true).all() %}
{% if children %}
<h2>Upcoming Events</h2>
<div class="events flex-grid">
    {% for child in children %}
      {% if compare_dates(child.event_date, current_datetime()) %}
        <div class="col">
          {{ render_event(child, from_index=true) }}
        </div>
      {% endif %}
    {% endfor %}
</div>
{% endif %}

{% if this.flickr != None %}
  <h2>Photos</h2>
  <div class="flickr">
    {{ this.flickr }}
  </div>
{% endif %}
{% endblock %}
