<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/css/style.css'|url }}">
<link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% block title %}Welcome{% endblock %} — Pacific Noiseworks</title>
<body>
  <header>
    <a href="/">
      <img src="{{ '/img/logo-tagline-white.png'|url }}" alt="Pacific Noiseworks logo" class="logo">
    </a>
    <nav>
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Welcome</a></li>
        {% for href, title in [
          ['/blog', 'Blog'],
          ['/events', 'Events'],
          ['/about', 'About']
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>

  <footer>
    <p class="copyright">&copy; 2020 Pacific Noiseworks</p>
    <p class="social">Twitter, Facebook, Instagram</p>
  </footer>
</body>
